# Dependencies
node_modules/

# Production builds, installers and packs
dist/
dist-*/
out/
release/
*.zip
*.tar.gz

# Exclude standalone executables except those in resources
*.exe
!resources/**/*.exe

# Build temp files and logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev_log.txt
electron.vite.config.*.mjs

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Temporary directories and caches
scratch/
.tempmediaStorage/
.user_uploaded/
.system_generated/
*.tmp
